
<div class="layout-wrapper layout-static">
  <div class="layout-topbar flex">
    <a class="layout-topbar-logo flex-none" routerLink="">
        <img src="assets/logo.png" alt="logo">
        <span>Jobilee</span>
    </a>



    <!-- <div #topbarmenu class="layout-topbar-menu" >
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div> -->
  </div>
  
  <div class="layout-sidebar">
    <ul class="layout-menu">
      <ng-container *ngFor="let item of model; let i = index;">
          <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
          <li *ngIf="item.separator" class="menu-separator"></li>
      </ng-container>
      
    </ul>
  </div>

  <div class="layout-main-container">
      <div class="layout-main">
          <div class="pb-3">
            <app-breadcrumb></app-breadcrumb>

          </div>
        
      
          <router-outlet></router-outlet>
      </div>
  </div>
  <div class="layout-mask"></div>
  
</div>



