<p-table [value]="users | async" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.emailId}}</td>
        <td>
          <button (click)="updateUser(user._id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
          <button (click)="deleteUser(user._id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          <button (click)="userDetails(user._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
  </ng-template>
</p-table>