<div>
  <p-fieldset legend="Create Job" [toggleable]="false">
    <form (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="col-6">
          <h5>Name</h5>
          <input pInputText class="min-w-full" type="text" id="name" required [(ngModel)]="job.name" name="name" placeholder="myapi">
        </div>
    
        <div class="col-6">
          <h5>Integration</h5>
          <p-dropdown name="integration"  class="min-w-max" [options]="integrations | async" [(ngModel)]="job.integration" optionLabel="name"></p-dropdown>
        </div>
        </div>

  
      <button pButton type="submit" class="btn btn-danger">Submit</button>
    </form>
  </p-fieldset>
</div>
