

<p-fieldset legend="Integration Details" [toggleable]="false">
  <p-table [value]="[integration | async]" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr *ngFor="let item of (integration | async | keyvalue) ">
            <th>{{item.key}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-integration>
        <tr>
            <td>{{integration.name}}</td>
            <td>{{integration.url}}</td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="rowexpansion" let-item>
      <tr>
          <td colspan="7">
              <div class="p-3">
                  <p-table [value]="item.steps" dataKey="id">
                      <ng-template pTemplate="header">
                          <tr *ngFor="let s of step | keyvalue">
          
                              <th pSortableColumn="{{s.key}}">{{s.key}} <p-sortIcon field="{{s.key}}"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-steps>
                          <tr *ngFor="let s of step | keyvalue">
                              <td>{{s.value}}</td>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="6">There are no steps for this integration yet.</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
    </ng-template>     -->
  </p-table>
</p-fieldset>

<!-- 
<div class="card">
  <h5>RowSpan Grouping</h5>
  <p-table [value]="[integration | async]" rowGroupMode="rowspan" groupRowsBy="representative.name" sortField="representative.name" sortMode="single"  [tableStyle]="{'min-width': '75rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th style="width:3rem">#</th>
              <th>Representative</th>
              <th>Name</th>
              <th>Country</th>
              <th>Company</th>
              <th>Status</th>
              <th>Date</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
          <tr>
              <td>{{rowIndex}}</td>
              <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                  <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" />
                  <span class="font-bold ml-2">{{customer.representative.name}}</span>
              </td>
              <td>
                  {{customer.name}}
              </td>
              <td>
                  <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30">
                  <span class="image-text">{{customer.country.name}}</span>
              </td>
              <td>
                  {{customer.company}}
              </td>
              <td>
                  <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
              </td>
              <td>
                  {{customer.date}}
              </td>
          </tr>
      </ng-template>
  </p-table>
</div> -->