

<p-fieldset legend="Integration Details" [toggleable]="false">
  <p-table [value]="[integration | async]" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Type</th>
            <th>Definition</th>
            <th>Payload</th>
            <th>Parameter</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-integration>
        <tr>
            <td>{{integration.name}}</td>
            <td>{{integration.url}}</td>
            <td>{{integration['steps'][0].type}}</td>
            <td>{{integration['steps'][0].definition}}</td>
            <td>
               <pre  *ngIf="integration['steps'][0].type == 'post'"><code [highlight]="integration['steps'][0].payload | json" [languages]="['json']"></code></pre>
            </td>
            <td>
              <pre  *ngIf="integration['steps'][0].type == 'post'"><code [highlight]="integration['steps'][0].parameter | json" [languages]="['json']"></code></pre>
           </td>
        </tr>
    </ng-template>
  </p-table>
</p-fieldset>