  <p-fieldset legend="{{formType}} Chart" [toggleable]="false" styleClass="maxw">
    <form (ngSubmit)="onSubmit()">

      <div class="grid">
        <div class="col-6">
          <h5>Name</h5>
          <input pInputText class="min-w-full" type="text" id="name" required [(ngModel)]="chart.name" name="name" placeholder="mychart">
          <h5>Type</h5>

          <p-dropdown (onChange)="setDefinition()" [options]="types" [(ngModel)]="chart.type" optionValue="name" optionLabel="name" name="type" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Chart Type">
            <ng-template pTemplate="selectedItem">
                <div *ngIf="chart.type" class="my-dropdown-item" > 
                    <i [class]="getChartIcon()"></i>
                    &nbsp;
                    <div >{{chart.type}}</div>
                </div>
            </ng-template>

            <ng-template let-chart pTemplate="item" >
                  <div class="my-dropdown-item" >
                    <i  [class]="chart.icon"></i>
                    &nbsp;
                    <div>{{chart.name}}</div>
                  </div>
            </ng-template>
        </p-dropdown>
  
        </div>
        <div class="col-6" style="max-width:70rem">
          <h5>Select Outputs from Jobs</h5>
        
          <p-treeSelect
   
          [showClear]="true"
            name="jobs"
            [(ngModel)]="chart.jobs" 
            [options]="outputs | async"
            (onNodeSelect)="calculatePlaceholders()" 
            (onNodeUnselect)="calculatePlaceholders()"
            [metaKeySelection]="false" 
            selectionMode="checkbox"
            [filter]="true" [filterInputAutoFocus]="true"
            placeholder="Select Outputs">
          </p-treeSelect>

          <p-table [value]="(placeholders|async)" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>Job</th>
                    <th>Step</th>
                    <th>Outputs</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-o>
                <tr>
                    <td>{{o.job}}</td>
                    <td>{{o.step}}</td>
                    <td>
                      <p-tag (click)="copyMessage('{'+o.job+':'+o.step+'}')" [value]="'{'+o.job+':'+o.step+'}'"  styleClass="mr-2" severity="warning" ></p-tag>
                      <p-tag (click)="copyMessage('{'+a+'}')"  styleClass="mr-2" [value]="'{'+a+'}'" *ngFor="let a of [o.outputs].flat(1)"></p-tag>
                     </td>
                </tr>
            </ng-template>
        </p-table>

        </div>
        <div class="col-6">
          <p-panel header="Definition" [toggleable]="false">
            <ng-template pTemplate="icons">
              <button type="button" pButton class="p-panel-header-icon p-link" (click)="chart.definition={}">
                <span pTooltip="Clear"class="pi pi-trash"></span>
            </button>                  
         </ng-template>            
            <json-editor  [options]="editorOptions" [(ngModel)]="definitionTemplate" [ngModelOptions]=" 
            {standalone: true}"></json-editor>
            </p-panel>
        </div>
        <div class="col-6">
            <p-panel header="Chart"  [toggleable]="false">
              <ng-template pTemplate="icons">
                 
                      <button type="button" pButton class="p-panel-header-icon p-link" (click)="templateToDefinition()">
                          <span pTooltip="Render Definition"class="pi pi-bolt"></span>
                      </button>
              </ng-template>
            <p-chart width="400" height="400" [type]="chart.type" *ngIf="chart.type != 'table'" [data]="chart.definition" [options]=""></p-chart>
            <p-table [columns]="chart.definition['headers']" [value]="chart.definition['items']" styleClass="p-datatable-sm">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns">
                          {{rowData[col]}}
                      </td>
                  </tr>
              </ng-template>
          </p-table>
              </p-panel>
        </div>
      </div>
   
      <p-button type="submit" label="{{formType}}" icon="pi pi-check" class="fixed submitBtn" styleClass="p-button-lg"></p-button>
    </form>
  </p-fieldset>