
<div class="content-header">
  <div class="content-header-intro">
    <h2>Integrations</h2>
    <p>Templated API Queries for Initializing Jobs</p>
  </div>
  <div class="content-header-actions">
    <a href="#" class="button-custom">
      <i class="ph-faders-bold"></i>
      <span>Filters</span>
    </a>
    <a class="button-custom">
      <i class="ph-plus-bold"></i>
      <button [routerLink]="['/','integrations','add']" pButton pRipple type="button" label="Create" icon="fa fa-plus" class="p-button-text p-button-sm p-button-secondary"></button>
    </a>
  </div>
</div>
<div class="content">
  <!-- <div class="content-panel">
    <div class="vertical-tabs">
      <a href="#" class="active">View all</a>
      <a href="#">Developer tools</a>
      <a href="#">Communication</a>
      <a href="#">Productivity</a>
      <a href="#">Browser tools</a>
      <a href="#">Marketplace</a>
    </div>
  </div> -->
  <div class="content-main">
    <div class="card-custom-grid">
      <article class="card-custom" *ngFor="let integration of (integrations | async)">
        <div class="card-custom-header">
          <div>
            <span>
              <img src="{{getIntegrationIcon(integration.icon,integration.name)}}"/>
            </span>
            <h3>{{integration.name}}</h3>
          </div>
          <label class="toggle">
          </label>
        </div>
        <div class="card-custom-body">
          <p>{{integration?.description}}</p>
        </div>
        <div class="card-custom-footer">
          <button (click)="deleteIntegration(integration._id)" pButton pRipple type="button" label="Delete" icon="fa fa-times" class="p-button-text p-button-sm p-button-secondary"></button>

          <button (click)="integrationDetails(integration._id)" pButton pRipple type="button" label="Code" icon="fa fa-code" class="p-button-text p-button-sm p-button-secondary"></button>
          <button (click)="updateIntegration(integration._id)" pButton pRipple type="button" label="Edit" icon="fa fa-wrench" class="p-button-text p-button-sm p-button-secondary"></button>

        </div>
      </article>
    </div>
  </div>
</div>
