<p-table [value]="integrations | async" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-integration>
      <tr>
        <td>{{integration.name}}</td>
        <td>{{integration.url}}</td>
        <td>
          <button pButton (click)="updateIntegration(integration._id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
          <button pButton (click)="deleteIntegration(integration._id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          <button pButton (click)="integrationDetails(integration._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
  </ng-template>
</p-table>