<button (click)="list()" class="btn btn-primary">User List</button><br>

<p-card *ngIf="user" header="User" subheader="Details" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="assets/showcase/images/usercard.png">
  </ng-template>
  <div>
    <div>
      <label><b>First Name: </b></label> {{user.firstName}}
    </div>
    <div>
      <label><b>Last Name: </b></label> {{user.lastName}}
    </div>
    <div>
      <label><b>Email Id: </b></label> {{user.emailId}}
    </div>  
  </div>
  <ng-template pTemplate="footer">
      <p-button (click)="list()" label="List" icon="pi pi-list"></p-button>
  </ng-template>
</p-card>