<form (ngSubmit)="onSubmit()"><p-tabView>
  <p-tabPanel header="{{formType}}">
  <p-fieldset legend="{{formType}} Job" [toggleable]="false">
      <div class="grid">
        <div class="col-6">
          <h5>Name</h5>
          <input pInputText class="min-w-full" type="text" id="name" required [(ngModel)]="job.name" name="name" placeholder="myapi">
        </div>
        <div class="col-6">
          <h5>Integration</h5>
          <p-dropdown name="integration"  
          
          [filter]="true" filterBy="name" 
          class="min-w-max" [options]="integrations"  [(ngModel)]="job.integration" optionValue="name" optionLabel="name"></p-dropdown>
        </div>
        <div class="col-6">
 
          <h5>API ID</h5>
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon min-w-min">{{getURL(job.integration)}}{{getPrefix(job.integration)}}</span>  
              <input pInputText class="min-w-min" type="text" id="apiID" required [(ngModel)]="job.apiID" name="apiID" placeholder="id">
              <span class="p-inputgroup-addon" *ngIf="getSuffix(job.integration) != ''">{{getSuffix(job.integration)}}</span>      
          </div>
        </div>
        <!-- <div class="col-6">
          <h5>Choose Steps</h5>
          <p-multiSelect name="steps"  
          
          [filter]="true" filterBy="name" 
          class="min-w-max" [options]="getSteps()" [(ngModel)]="job.steps" ></p-multiSelect>
        </div> -->
  
      </div>
      <div class="col-12">
        <h5>Description</h5>
        <textarea pInputTextarea class="min-w-max"  
        id="name" required [(ngModel)]="job.description" name="description"
        [rows]="5" [cols]="30"  [autoResize]="true"></textarea>
      </div>
        <p-panel header="Parameters" styleClass="pt-2" [toggleable]="true">
          <ng-template pTemplate="icons">
                  <button type="button" pButton class="p-panel-header-icon p-link" (click)="job.parameters=examples;dynamicResultsError=[];dynamicResults=[];regenerateParams()">
                    <span pTooltip="Reset"class="pi pi-history"></span>
                </button>
                  <button type="button" pButton class="p-panel-header-icon p-link" (click)="regenerateParams()">
                      <span pTooltip="Refresh Dynamic Parameters"class="pi pi-bolt"></span>
                  </button>
                  <button type="button" pButton class="p-panel-header-icon p-link" (click)="job.parameters=[]">
                    <span pTooltip="Clear"class="pi pi-trash"></span>
                </button>                  
          </ng-template>
          <div class="grid">
            <json-editor class="col" style="min-width:30rem" [options]="editorOptions" [(ngModel)]="job.parameters" [ngModelOptions]=" 
            {standalone: true}"></json-editor>
            <p-divider layout="vertical">  <i class="pi pi-arrow-right"></i></p-divider>
            <div class="col" style="max-width:35rem;width:100%">
                <p-scrollPanel [style]="{height: '400px'}">
                  <div class="grid">
                    <div *ngFor="let param of job.parameters" class="col-6">
                      <p-divider align="left" type="dashed">
                        <div class="inline-flex align-items-center">
                          <ng-container>
                            <i *ngIf="param.type == 'text'" class="pi pi-book mr-2"></i>
                            <i *ngIf="param.type == 'number'" class="pi pi-sort-numeric-up mr-2"></i>
                            <i *ngIf="param.type == 'choice'" class="pi pi-qrcode mr-2"></i>
                            <i *ngIf="param.type == 'multi-choice'" class="pi pi-check-square mr-2"></i>
                            <i *ngIf="param.type == 'dynamic'" class="pi pi-bolt mr-2"></i>
                            <b>{{param.name}}</b>
                          </ng-container>
                        </div>
                      </p-divider>
                      <input *ngIf="param.type == 'text'" class="min-w-full" type="text" pInputText [value]="param.default ? param.default : ''" />
                      <p-inputNumber *ngIf="param.type == 'number'" [value]="param.default ? param.default : 0"  [(ngModel)]="param.default" [ngModelOptions]="{standalone: true}"  [showButtons]="true" mode="decimal">        </p-inputNumber>
                      <p-dropdown  *ngIf="param.type == 'choice'" appendTo="body" placeholder="{{param.choices[0]}}"  [ngModelOptions]="{standalone: true}" [(ngModel)]="param.default" [options]="param.choices"></p-dropdown>
                      <p-multiSelect  defaultLabel="{{param.choices}}"  *ngIf="param.type == 'multi-choice'" appendTo="body"  [ngModelOptions]="{standalone: true}" [(ngModel)]="param.default" [options]="toSelectItem(param.choices)"></p-multiSelect>
                      <p-multiSelect  appendTo="body"
                        *ngIf="param.type == 'dynamic'" 
                        display="chip"
                        
                        [ngModelOptions]="{standalone: true}" 
                        [pTooltip]="dynamicResultsError[param.name]"
                        [(ngModel)]="param.default" 
                        [dropdownIcon]="dynamicResultsError[param.name] ? 'pi pi-times' : dynamicResults[param.name]?.length == 0 ? 'pi pi-spin pi-spinner' : 'pi pi-chevron-down'"
                        [options]="toSelectItem(dynamicResults[param.name] || param['default'].split(','))"
                        >
                      </p-multiSelect>
                    </div>
                  </div>
                </p-scrollPanel>
            </div>
          </div>
        </p-panel>

    
        <app-step-form [URLDefinitionOverride]="getURL(job.integration)" [allSteps]="job.steps"></app-step-form>


  </p-fieldset>
  </p-tabPanel>
  <p-tabPanel header="Code">
    <json-editor [options]="makeOptions()" class="code"  [(ngModel)]="job" [ngModelOptions]=" 
    {standalone: true}"></json-editor>
  </p-tabPanel>
</p-tabView>
  <p-button type="submit" label="{{formType}}" icon="pi pi-check" class="fixed submitBtn" styleClass="p-button-lg"></p-button>
</form>