
:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 400px;
}
:host ::ng-deep .p-dropdown, :host ::ng-deep .p-multiselect {
  width: 100%;
}
:host ::ng-deep .p-inputnumber{
  height: 31px;

}
:host ::ng-deep json-editor.code,
:host ::ng-deep json-editor.code .jsoneditor,
:host ::ng-deep json-editor.code > div,
:host ::ng-deep json-editor.code jsoneditor-outer {
  height: 100vh;
  width: 100%;
}


:host ::ng-deep .p-dropdown, :host ::ng-deep .p-multiselect, :host ::ng-deep .p-inputtextarea {
    width: 100%;
  }
:host ::ng-deep {
  .p-multiselect .pi-times:before {
    color: red;
  }
  .p-multiselect .pi-spinner:before {
    color: #007AD9;
  }
}
