<form (ngSubmit)="onSubmit()"><p-tabView>
  <p-tabPanel header="{{formType}}">
    <p-fieldset legend="{{formType}} Integration" [toggleable]="false">
    
        <div class="grid">
          <div class="col-6">
            <h5>Name</h5>
            <input pInputText class="min-w-full" type="text" id="name" required [(ngModel)]="integrationSteps.name" name="name" placeholder="myapi">
      
            <h5>URL</h5>
            <input pInputText  class="min-w-full"  type="text" id="url" required [(ngModel)]="integrationSteps.url" name="url" placeholder="https://api.com">
            <h5>Icon URL</h5>
            <input pInputText  class="min-w-full"  type="text" id="icon" required [(ngModel)]="integrationSteps.icon" name="icon" placeholder="https://myimage/icon.svg">
          </div>
          <div class="col-6">
            <p-fieldset legend="Authentication" [toggleable]="false">
              
              <p-selectButton name="authentication" [options]="authenticationOptions" (onChange)="setGeneralAuthData($event)" [(ngModel)]="integrationSteps.authentication"></p-selectButton>
              <div class="p-inputgroup pt-2"  *ngFor="let auth of integrationSteps.authenticationData; let i = index">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon text-color">{{auth.key}}</span>
                    <input pInputText [(ngModel)]="auth.value"  [type]="auth.key != 'Username' ? 'password' :'text'" id="authValue{{i}}" name="authValue{{i}}">
                </div>
              </div>
            </p-fieldset>
   
          </div>
          
          <div class="col-12">
            <h5>Description</h5>
            <textarea pInputTextarea class="min-w-max"  
            id="description" [(ngModel)]="integrationSteps.description" name="description"
            [rows]="5" [cols]="30"  [autoResize]="true"></textarea>
          </div>
          </div>

          
          <hr>
          <app-step-form [allSteps]="integrationSteps.steps"  [URLDefinitionOverride]="integrationSteps.url"></app-step-form>
      
    </p-fieldset>
  </p-tabPanel>
  <p-tabPanel header="Code">
    <json-editor [options]="makeOptions()" class="code"  [(ngModel)]="integrationSteps" [ngModelOptions]=" 
    {standalone: true}"></json-editor>
  </p-tabPanel>
</p-tabView>

<p-button type="submit" label="{{formType}}" icon="pi pi-check" class="fixed submitBtn" styleClass="p-button-lg"></p-button>
</form>
