
$content-width: 100%;
$margin: 0;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 22px;
$icon-size: 22px;
$bdrs-icon: 100%;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;
// * {
//   box-sizing: border-box;
// }


.timeline {
  display: flex;
  flex-direction: column;
  margin: $margin auto;

  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    margin: $spacing 0;
    border-radius: $bdrs;
    align-self: center;
    width: 100%;

    &:nth-child(n) {
      // flex-direction: row-reverse;
      // .timeline__event__date {
        // border-radius: 0 $bdrs $bdrs 0;
      // }
      .timeline__event__content {
        border-radius: $bdrs 0 0 $bdrs;
      }

      .timeline__event__icon:has(.pi-times) {
        background:#f1afaf;
        color: #f04141;
        &:before,
        &:after {
          background:#f1afaf;
        }
      }
      .timeline__event__icon:has(.pi-times-circle) {
        background:#000000;
        color: #f0e441;
        &:before,
        &:after {
          background:#000000;
        }
      }
      .timeline__event__icon:has(.pi-check) {
        background:#AFF1B6;
        color: $color5;
        &:before,
        &:after {
          background:#AFF1B6;
        }
      }
      .timeline__event__icon {

        &:before {
          content: "";
          width: 2px;
          height: 100vh;
          // background: $color2;
          position: absolute;
          top: 0%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          // animation: fillTop 2s forwards 0s ease-in-out;
          // animation-iteration-count: 1 !important;
        }
        &:after {
          content: "";
          width: 50vw;
          height: 2px;
          // background: $color2;
          position: absolute;
          left: 0%;
          z-index: -1;
          top: 50%;
          transform: translateY(-50%);
          // animation: fillLeftOdd 2s forwards 0s ease-in-out;
          // animation-iteration-count: 1 !important;
        }


      }
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;

      font-weight: 600;
      // color: $color1;
      letter-spacing: 1.5px;
    }
    &__content {
      // padding: $spacing;
      // box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      //   0 18px 36px -18px rgba(0, 0, 0, 0.3),
      //   0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      background: #fff;
      width: $content-width;
      border-radius: 0 $bdrs $bdrs 0;
 
    }
    &__date {
      // color: grey;
      font-size: 1.5rem;
      font-weight: 600;
      background: rgb(218, 218, 218);
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color1;
      padding: $spacing;
      align-self: center;
      margin: 0 $spacing;
      background: $color2;
      border-radius: $bdrs-icon;
      width: $circle-size;
      // box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      //   0 18px 36px -18px rgba(0, 0, 0, 0.3),
      //   0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      padding: 25px;
      height: $circle-size;
      position: relative;

      i {
        font-size: $icon-size;
      }

      &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: $color2;
        position: absolute;
        top: 0%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        // animation: fillTop 2s forwards 0s ease-in-out;
        // animation-iteration-count: 1 !important;
      }
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: $color2;
        position: absolute;
        left: 0%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        // animation: fillLeftOdd 2s forwards 0s ease-in-out;
        // animation-iteration-count: 1 !important;
      }
    }
    &__description {
      flex-basis: 60%;
    }


    &:last-child {
      .timeline__event__icon {
        &:before {
          background-color: #F4F4F4 !important;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: $bdrs $bdrs 0 0;
      width: 100%;
      margin: 0;
      
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }
    &__date {
      border-radius: 0;
      padding: $spacing;
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        border-radius: 0;
        padding: $spacing;
      }

      .timeline__event__icon {
        border-radius: $bdrs $bdrs 0 0;
        margin: 0;
      }
    }
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}


.custom-marker {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}
td{
    word-break:break-all
    }
::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}
::ng-deep {
    .customized-timeline {
        .p-timeline-event:nth-child(even) {
            flex-direction: row !important;
            
            .p-timeline-event-content {
                text-align: left !important;
            }
        }

        .p-timeline-event-opposite {
            flex: 0;
        }

        .p-card {
            margin-top: 1rem;
        }
    }
}


:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
    stroke: black!important
}

:host ::ng-deep .custom-spinner { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing;
  align-self: center;
  margin: 0 $spacing;
  // background-color: white !important;
  border-radius: $bdrs-icon;
  width: $circle-size;
  // box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
  //   0 18px 36px -18px rgba(0, 0, 0, 0.3),
  //   0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 33px;
  height: $circle-size;
  position: relative;
}
@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
// :host ::ng-deep json-editor.details,
// :host ::ng-deep json-editor.details .jsoneditor,
// :host ::ng-deep json-editor.details > div,
// :host ::ng-deep json-editor.details jsoneditor-outer {
//   height: 30vh;
//   width: 40vw;
// }

::ng-deep .mat-step-icon-state-done:has(*.pi-check)  , ::ng-deep .mat-step-icon-state-edit:has(*.pi-check) {
    background-color: green
}
::ng-deep .mat-step-icon-state-done:has(*.pi-times)  , ::ng-deep .mat-step-icon-state-edit:has(*.pi-times) {
    background-color: red;
}
::ng-deep .mat-step-icon-state-done:has(*.pi-times-circle)  , ::ng-deep .mat-step-icon-state-edit:has(*.pi-times-circle) {
    background-color: yellow; 
    color: black;
}
::ng-deep .mat-step-header .mat-step-icon-state-1 {
    background-color: red; 
 }
 ::ng-deep .mat-step-header .mat-step-icon-state-2 {
    background-color: green; 
 } 
 ::ng-deep .mat-step-header .mat-step-icon-state-3 {
    background-color: yellow; 
    color: black;
 } 



  ::ng-deep .mat-step-label {
    width: 100%;
  }

  :host ::ng-deep .p-panel-content {
    padding: 0 !important;
  }

  ::ng-deep .error .p-progressbar-value, .error {
    background: #d93728;
  } 
  ::ng-deep .success .p-progressbar-value, .success {
    background: #28ad1c;
  } 
  ::ng-deep .failure .p-progressbar-value, .failure {
    background: #f1f108;
    .p-progressbar-label{
            color:black
    }
  } 
:host ::ng-deep {

    
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    
    .job-name {
        font-size: 1.1rem;
        word-break: break-all;
        font-weight: 700;
    }
    
    .job-description {
        margin: 0 0 1rem 0;
    }
    
    .job-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .job-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .job-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
    
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    
        .job-list-detail {
            flex: 1 1 0;
        }
    
        .p-rating {
            margin: 0 0 .5rem 0;
        }
    
        .job-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
    
        .job-list-action {
            display: flex;
            flex-direction: column;
        }
    
        .p-button {
            margin-bottom: .5rem;
        }
    }
    
    .job-grid-item {
        margin: .5em;
        padding-top:1em !important;
        padding-bottom:.5em !important;
        padding-right:.5em !important;
        padding-left:.5em !important;
        border: 1px solid #dee2e6;
    
        .job-grid-item-top,
        .job-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .job-grid-item-content {
            text-align: center;
        }
    
        .job-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.card {
    padding: 2rem;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .job-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 75%;
			margin: 2rem 0;
		}

		.job-list-detail {
			text-align: center;
		}

		.job-price {
			align-self: center;
		}

		.job-list-action {
			display: flex;
			flex-direction: column;
		}

		.job-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}