<p-table #dt [value]="(tasks | async)" dataKey="id" [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-sm"
[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[filterDelay]="0" [globalFilterFields]="['_id']">
<ng-template pTemplate="caption">
  <div class="table-header flex flex-wrap align-items-center justify-content-between">
      Job Run History
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
      </span>
  </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
      <th style="width: 4rem">Result</th>
      <th>Creation Time</th>
        <th pSortableColumn="name" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
              Name
              <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
      </th>
      <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
      <tr class="p-selectable-row">
        <td [ngClass]="getBackground(task)" class="text-center">
          <span 
          [ngClass]="getIcon(task)"></span>
          
        </td>
        <td  [routerLink]="['/jobs','result',this._id,task._id]">
          {{task.creation_time | date:'short' }}
        </td>
        <td  [routerLink]="['/jobs','result',this._id,task._id]">
          {{task._id}}
        </td>
        
        <td>
          <button pButton (click)="deleteJob(task._id)" class="p-button-danger p-button-sm p-button-outlined">Delete</button>
        </td>
      </tr>

  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="8">No runs found.</td>
    </tr>
</ng-template>
</p-table>