  <p-table #dt2 [value]="tasks" dataKey="_id" styleClass="p-datatable-sm"
      [rowHover]="true" [loading]="loading" 
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['_id','result']" >
      <ng-template pTemplate="caption">

          <div class="flex">
                {{(job|async).name}} Task History

              <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
              </span>
              &nbsp;
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="clearHistory()" class="p-button-rounded p-button-danger p-button-sm"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th  pSortableColumn="result" style="width:5%">Result
                <p-sortIcon field="result"></p-sortIcon></th>
              <th  pSortableColumn="_id" style="width:45%">ID
                <p-sortIcon field="_id"></p-sortIcon></th>
                <th pSortableColumn="run_time" style="width:15%">Length
                  <p-sortIcon field="run_time"></p-sortIcon></th>
              <th pSortableColumn="creation_time" style="width:45%">Creation Time
                <p-sortIcon field="creation_time"></p-sortIcon></th>
              <th style="width:5%">Actions</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter field="result" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown  appendTo="body" [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Result" [showClear]="true">
                          <ng-template let-option pTemplate="item">
                              <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                          </ng-template>
                      </p-dropdown>
                  </ng-template>
              </p-columnFilter>
            </th>
      
              <th>
                  <p-columnFilter type="text" field="_id"></p-columnFilter>
              </th>
              <th  appendTo="body">
                <p-columnFilter  placeholder="seconds" type="numeric" field="run_time"></p-columnFilter>
             </th>
              <th  appendTo="body">
                <p-columnFilter   type="text" field="creation_time"></p-columnFilter>
             </th>
              <th>
                <!-- <p-columnFilter type="text" field="actions"></p-columnFilter> -->
              </th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>

        <tr class="p-selectable-row" >
          <td [ngClass]="getBackground(task)" class="text-center"  [routerLink]="['/jobs','result',this._id,task._id]">
            <span 
            [ngClass]="getIcon(task)"></span>
          </td>
          
          <td  [routerLink]="['/jobs','result',this._id,task._id]">
            {{task._id}}
          </td>
          <td  [routerLink]="['/jobs','result',this._id,task._id]">
            {{toHoursMinutesSeconds(task.run_time)}}
          </td>
          <td  [routerLink]="['/jobs','result',this._id,task._id]">
            {{task.creation_time | date:'short' }}
          </td>
          <td>
            <button pButton (click)="deleteJob(task._id)" class="p-button-danger p-button-sm p-button-outlined">Delete</button>
          </td>
        </tr>


      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No runs found.</td>
          </tr>
      </ng-template>
  </p-table>
