
.customer-badge.status-undefined {
    background-color: #cfd2ff;
    color: #434482;
}

.customer-badge.status-true {
    background-color: #d8ffcf;
    color: #438244;
}

.customer-badge.status-false {
    background-color: #ffcfcf;
    color: #824343;
}
.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}