
<p-toolbar >
    <div class="p-toolbar-group-start">
        <button pButton label="Run" (click)="run()" icon="pi pi-play"></button>
    </div>
    
    <div class="p-toolbar-group-start">
      <p-button label="{{job.name}}" [routerLink]="['/','jobs','history', job._id]" styleClass="p-button-link text-white p-button-lg text-2xl"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-cog" [routerLink]="['/','jobs','update', _id]" styleClass="p-button-link text-white p-button-sm" label="Edit"></p-button>
      <p-button icon="pi pi-history" [routerLink]="['/','jobs','history', _id]" styleClass="p-button-link text-white p-button-sm" label="History"></p-button>
  </div>
</p-toolbar>
<div class="pt-3">

          <p-panel header="Parameters" [toggleable]="false">
            <ng-template pTemplate="icons">
                    <button type="button" pButton class="p-panel-header-icon p-link" (click)="regenerateParams()" *ngIf="hasDynamic()">
                        <span pTooltip="Refresh Dynamic Parameters" tooltipPosition="left" class="pi pi-bolt"></span>
                    </button>
                    <button type="button" *ngIf="hiddenCount()" pButton class="p-panel-header-icon p-link" (click)="toHide = !toHide">
                      <span pTooltip="Toggle Hidden Parameters" tooltipPosition="left"  class="pi flex" [ngClass]="{'pi-eye':!toHide,'pi-eye-slash': toHide}">
                       {{hiddenCount() || ''}}
                      </span>
                  </button>
            </ng-template>
            <p-card>
              <p-scrollPanel [style]="{height: '600px'}">
                <div class="grid">
                  <div *ngFor="let param of job.parameters"  class="col-6" [hidden]="param.hidden && toHide">
                    <p-divider align="left" type="dashed" >
                      <div class="inline-flex align-items-center" >
                        <ng-container>
                          <i *ngIf="param.type == 'text'" class="pi pi-book mr-2"></i>
                          <i *ngIf="param.type == 'number'" class="pi pi-sort-numeric-up mr-2"></i>
                          <i *ngIf="param.type == 'choice'" class="pi pi-qrcode mr-2"></i>
                          <i *ngIf="param.type == 'multi-choice'" class="pi pi-check-square mr-2"></i>
                          <i *ngIf="param.type == 'dynamic'" class="pi pi-bolt mr-2"></i>
                          <b>{{param.name}}</b>
                        </ng-container>
                      </div>
                    </p-divider>
                    <input  *ngIf="param.type == 'text'" class="min-w-full" type="text" pInputText [(ngModel)]="param.default" [value]="param.default ? param.default : ''" />
                    <p-inputNumber *ngIf="param.type == 'number'" styleClass="min-w-full" [(ngModel)]="param.default" [value]="param.default ? param.default : 0" [showButtons]="true" inputId="stacked" mode="decimal">        </p-inputNumber>
                    <p-dropdown  *ngIf="param.type == 'choice'" appendTo="body" placeholder="{{param.choices[0]}}"  [ngModelOptions]="{standalone: true}" [(ngModel)]="param.default" [options]="param.choices"></p-dropdown>
                    <p-multiSelect *ngIf="param.type == 'multi-choice'" defaultLabel="{{param.choices}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="param.default" [options]="toSelectItem(param.choices)"></p-multiSelect>
                    <p-multiSelect 
                    *ngIf="param.type == 'dynamic'"  appendTo="body"
                    [ngModelOptions]="{standalone: true}" 
                    display="chip"
                    
                    [pTooltip]="dynamicResultsError[param.name]"
                    [(ngModel)]="param.default" 
                    [dropdownIcon]="dynamicResultsError[param.name] ? 'pi pi-times' : dynamicResults[param.name].length == 0 ? 'pi pi-spin pi-spinner' : 'pi pi-chevron-down'"
                    [options]="toSelectItem((dynamicResults[param.name] != undefined) ? dynamicResults[param.name] : param.default.split(','))"
                    >
                  </p-multiSelect>
                  </div>
                </div>
              </p-scrollPanel>
            </p-card>
          </p-panel>

</div>
